<div class="navbar navbar-default">
  <div class="navbar-inner">
  <div class="container">
    <a class="navbar-brand" href="#">RESCUE ME</a>
    <ul class="nav navbar-nav">/
      <li><%= link_to "Home", welcome_path %></li>
      <li class="active"><a href="about#page">About Us</a></li>
      <li class="divider-vertical"></li>
      <li><a href="dogs#show">Adopt</a></li>
      <li><a href="info_pages#index">Information</a></li>
      <li><a href="#">Sponsor</a></li>
    </ul>
  </div>
</div>


<h1>About RESCUE ME</h1>

<p>Rescue Me Pet Adoptions is a non-profit animal rescue organization that has rescued stray or abandoned cats and dogs in the Triangle Area of North Carolina since 2015.</p><br>


<h5> DISCLAIMER: THIS IS A CLASS INSTRUCTIONAL ASSIGNMENT AND IS IN NO WAY AN ACTUAL ORGANIZATION.</h5>
