
<div class="navbar navbar-default">
  <div class="navbar-inner">
  <div class="container">
    <a class="navbar-brand" href="#">RESCUE ME</a>
    <ul class="nav navbar-nav">
      <li class="active"><%= link_to "Home", welcome_path %></li>
      <li><a href="about#page">About Us</a></li>
      <li class="divider-vertical"></li>
      <li><a href="dogs#show">Adopt</a></li>
      <li><a href="info_pages#index">Information</a></li>
      <li><a href="#">Sponsor</a></li>
    </ul>
  </div>
</div>

<div class="container">
  <div class="jumbotron text-center">
    <h1 style="color:#10a1ff">RESCUE ME</h1>
    <p class="lead">To secure equal treatment and opportunity for ALL dogs and to create a world in which all companion animals find compassionate, permanent homes..</p>
    <p><a class="btn btn-large btn-success" href="http://bootply.com/tagged/bootstrap-3" target="ext">APPLICATION</a></p>
  </div>

<div class="row">
    <div class="col-lg-6">
      <h4>MISSION STATEMENT</h4>
        <p><em>RESCUE ME's mission is to aid homeless, abandoned and neglected dogs, to nurture them in the foster care of volunteers, to provide veterinary care and socialization, and to place them in permanent loving and responsible homes. RESCUE ME also works to decrease the population of homeless dogs and cats through its spay/neuter programs.</em></p>

      <h4>VISION</h4>
        <p><em>RESCUE ME's mission is to aid homeless, abandoned and neglected dogs, to nurture them in the foster care of volunteers, to provide veterinary care and socialization, and to place them in permanent loving and responsible homes. RESCUE ME also works to decrease the population of homeless dogs and cats through its spay/neuter programs.</em></p>

      <h4>OUR VALUES</h4>
        <p><em>BlahBlahBlah</em></p>

    </div>


      <div class="inner-content-wrapper center">
          <a href="https://twitter.com/rabbyia"><i class="fa fa-twitter twitter"></i></a>
          <a href="https://github.com/rabbyia"><i class="fa fa-github-alt github"></i></a>
          <a href=""><i class="fa fa-linkedin linkedin"></i></a>
          <a href="mailto:me(ATs)rabbyia.shabbir(DOTs)com?Subject=Hello!"><i class="fa fa-envelope email"></i></a>
      </div>
</div>

        <footer>
            <div>
                <p>RESCUE ME &#169; 2015</p>
                <p>Handcrafted with love by TTS students</p>
                <p><em>Kelly M Curtis, Rabbyia Shabbir and Nicole Rudi</em></p>
            </div>

            <h5> DISCLAIMER: THIS IS A CLASS INSTRUCTIONAL ASSIGNMENT AND IS IN NO WAY AN ACTUAL ORGANIZATION.</h5>

        </footer>
