<p id="notice"><%= notice %></p>

<nav>
  <div class="navbar navbar-default">
    <div class="navbar-inner">
      <div class="container">
        <a class="navbar-brand" href="#"><strong>RESCUE ME</strong></a>
          <ul class="nav navbar-nav">
            <li><%= link_to "Home", welcome_path %></li>
            <li><a href="#">About Us</a></li>
            <li class="divider-vertical"></li>
            <li><a href="dogs#show">Adopt</a></li>
            <li class="active"><a href="info_pages#index">Information</a></li>
            <li><a href="#">Sponsor</a></li>
          </ul>
        </div>
      </div>
    </div>
</nav>


<head>

<div class="panel panel-info">
  <div class="panel-heading">
    <h2>Adoption Information Page</h2>
  </div>
</div>

</head>

<body>

<div class="col-md-4">
  <div class="panel panel-success">
    <div class="panel-heading">
      <h3>Search Options</h3>
      <h5>Click to select</h5>
      <div class="panel-body">
        <button id="alldogs-close-CSS">All Dogs</button>

        <button id="puppies-close-CSS">Puppies</button>

        <button id="youngdog-close-CSS">Young Dogs</button>

        <button id="seniordog-close-CSS">Senior Dogs</button>

        <button id="specialdogs-close-CSS">Special Needs Dogs</button>
      </div>
    </div>
  </div>
</div>

<div class="col-md-8">
  <div class="panel panel-success">
    <h3 class="panel-heading"> Information You Need to Know</h3>
        <div class="panel-body">
          <div class="well well-sm"><strong>What you need for your new family member</strong></div>
            <p> </p>

          <div class="well well-sm"><strong>Expectations</strong></div>
          <p> </p>

          <div class="well well-sm"><h4>Puppy proofing your home</h4><br>
              <p> You’ve now decided what breed is a good fit for you and your family, and perhaps you have even the found the perfect puppy already! Congrats! Bringing a puppy home requires a lot more work than just picking it up and putting it in the car, - See more at:
            <a href="http://www.dogwatch.com/dogtails/2011/06/10/puppy-proofing-and-preparation">Dog Watch</a>
          </p>
          </div>

          <div class="well well-sm"><strong>Aproximate Vetinary Costs</strong></div>
          <p> </p>

          <div class="well well-sm"><strong>Recommended Vets</strong></div>
          <p> </p>

          <div class="well well-sm"><strong>Dog Parks</strong></div>
          <p> </p>

          <div class="well well-sm"><strong>Dog Day Camps, kennels and Pet Sitters</strong></div>
          <p> </p>

        </div>
      </div>

    </div>
</div>
</body>

<footer>
<h5> DISCLAIMER: THIS IS A CLASS INSTRUCTIONAL ASSIGNMENT AND IS IN NO WAY AN ACTUAL ORGANIZATION.</h5>
</footer>
