<p id="notice"><%= notice %></p>

<p>
  <strong>Information:</strong>
  <%= @info_page.information %>
</p>

<%= link_to 'Edit', edit_info_page_path(@info_page) %> |
<%= link_to 'Back', info_pages_path %>
