
h1 {
  color: #33CC33;
}

p {
  color: #10a1ff;
}

.jumbotron {
    background-image: url("btubpups.jpg");
    background-size: 1140px 400px;
    background-repeat: no-repeat;

}

footer {
    //*background-color: #d7dee1;
    margin: 0 auto;
    font-size: 1.0em;
    text-align: center;
    padding: 15px;
}